{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="home-header text-center my-5">Який-небудь текст, можливо фото</div>
    <div>{% include 'includes/messages.html' %}</div>
   
    <div class="row posts-row">
        <div class="col-sm-12 col-md-6 col-lg-4 py-1 mt-2">
            <a href="{% url 'work' %}" class="text-decoration-none text-dark">
                <div class="card work d-flex flex-column justify-content-center">
                    <div class="content">
                        <div class="row">
                            <div class="col-3"><i class="fa-solid fa-briefcase fa-3x"></i></div>
                            <div class="col-9"><h3>Робота</h3></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 py-1 mt-2">
            <a href="{% url 'education' %}" class="text-decoration-none text-dark">
                <div class="card education d-flex flex-column justify-content-center">
                    <div class="content">
                        <div class="row">
                            <div class="col-3"><i class="fa-solid fa-user-graduate fa-3x"></i></div>
                            <div class="col-9"><h3>Навчання</h3></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 py-1 mt-2">
            <a href="{% url 'accommodation' %}" class="text-decoration-none text-dark">
                <div class="card accommodation d-flex flex-column justify-content-center">
                    <div class="content">
                        <div class="row">
                            <div class="col-3"><i class="fa-solid fa-house-chimney-window fa-3x"></i></div>
                            <div class="col-9"><h3>Проживання</h3></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 py-1 mt-2">
            <a href="{% url 'health' %}" class="text-decoration-none text-dark">
                <div class="card health d-flex flex-column justify-content-center">
                    <div class="content">
                        <div class="row">
                            <div class="col-3"><i class="fa-solid fa-suitcase-medical fa-3x"></i></div>
                            <div class="col-9"><h3>Медицина</h3></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 py-1 mt-2">
            <a href="{% url 'law' %}" class="text-decoration-none text-dark">
                <div class="card law d-flex flex-column justify-content-center">
                    <div class="content">
                        <div class="row">
                            <div class="col-3"><i class="fa-solid fa-gavel fa-3x"></i></div>
                            <div class="col-9"><h3>Законодавство</h3></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 py-1 mt-2">
            <div class="card law d-flex flex-column justify-content-center">
                <div class="content">
                    <div class="row">
                        <div class="col-3"><i class="fa-solid fa-circle-info fa-3x"></i></div>
                        <div class="col-9"><h3>Інше</h3></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}