{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'account/css/account.css' %}">
{% endblock %}

{% block title %}
NEWKD: REGISTRATION
{% endblock %}

{% block content %}5
<div class="row mt-5 mb-5">
  <div class="col-md-4"></div>
  <div class="col-md-4 mt-5">
      <div class="card logout">
          <div class="card-body">
            <h1 class="card-title title-lead1">Signup for a free account</h1>
            <form action="{% url 'account:register' %}" method="POST" class="mt-5">
              {% csrf_token %}
              <div class="mb-3 form-group">
                  <div class="input-group">
                  <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                  <input class="form-control text" type="text" name="username" placeholder="Username" id="usernameField"  value="{{ field_vals.username }}">
                  
        <div class="invalid-feedback" style="display:none;"></div>
                  <p class="text-sm text-success usernameSuccess"></p>
                  </div>
              </div>
              <div class="mb-3 form-group">
                  <div class="input-group">
                  <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                  <input class="form-control" type="email" name="email" placeholder="Email" id="emailField" value="{{ field_vals.email }}">
                  </div>
        <div class="invalid-feedback emailFeedback" style="display:none;"></div>
                  <p class="text-sm text-success emailSuccess"></p>
                  
              </div>
              <div class="mb-3 form-group">
                  <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                  <input class="form-control" type="password" name="password1" placeholder="Password" id="password1Field">
                  </div>
              </div>
              <div class="mb-3 form-group">
                  <div class="input-group">
                  <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                  <input class="form-control" type="password" name="password2" placeholder="Confirm Password" id="Password2Field">
                  </div>
              </div>
              <br>
              <div class="d-grid gap-2 col-12 mx-auto">
              <button type="submit" class="btn btn-success btn-block signup">Register</button>
              </div>
             <br>
             <span style="text-align: center;" class="bi">Already have an account ? <a href="{% url 'account:signin' %}" class="rm">Login</a></span>
            </form>
            
          </div>
        </div>
  </div>
  <div class="col-md-4"></div>
</div>
{% endblock %}